.header {
    display: flex;
    grid-area: header;
    background-color: rgba(0, 0, 0,.8);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.link{
    cursor: pointer;
    color: white;
    text-decoration: none
;
}
.imgUser{
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.imgLogo {
    width: 40px;
    height: 40px;
}
.btn{
    position: relative;
    color: white;
}
.window{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
position: absolute;
    right: -10px;
    top: -10px;
    padding: 10px;
    background-color: #007bff;
    width: 200px;
    height: 100px;
}

.nameImgBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}